<!DOCTYPE html>
<html>

<head>
    <title>Kevin Park</title>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">

<body>
    <div class="row">

        <div class="col-md-6 black">
            <h1 class="style"> Kevin<span class="name">Park</span></h1>
        </div>
        <div class="col-md-6 black center description">


            <div>
                <span>
                <button-1 onclick="window.location.href='#portfolio'">Portfolio</button>
                </span>
               
                    <span>
                <button-1 onclick="window.location.href='#About-Me'">About Me</button>
                </span>
                <span>
                <button-1 onclick="window.location.href='#Contacts'">Contacts</button>
                </span>
               
            </div>


        </div>

    </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <span class="social-link">
                <a class=scroll href="https://twitter.com">
                    <img
                        src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/twitter_2-512.png">
                </a>
            </span>
            <span class="social-link">
                <a class=scroll href="https://github.com/shp2018">
                    <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
                </a>
            </span>
            <span class="social-link">
                <a class=scroll href="https://instagram.com">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png">
                </a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="portfolio">
            <h4 style="font-size:60px;">Portfolio</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>I am learning how to code.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <button>----</button>
                <button>----</button>
                <button>----</button>
                <button>----</button>
                <button>----</button>
                <button>----</button>
                <button>----</button>
            </div>

        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-3">
            <h200><a href="https://github.com/shp2018/cohort-2/blob/master/lectures/highway_project.py">Highway Toll
                    Calculator</a></h200>
            <div class=textwithblur>


                <img class=pic src="highway img.png" alt="Highway Toll Fee Calculator"
                    style="animation-direction: alternate;" data-toggle="modal" data-target="#play-highway">
                <h300>Highway Toll Fee Calculator</h300>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <h200><a href="https://github.com/shp2018/twitter_sentiment_analyzer">Twitter Sentiment
                    Analyzer</a></h200>
            <div class=textwithblur>


                <img class=pic src="Twitter img.png" alt="Twitter Sentiment Analyzer"
                    style="animation-direction: alternate;" data-toggle="modal" data-target="#play-twitter">
                <h300>Twitter Sentiment Analyzer</h300>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <h200><a href="https://github.com/shp2018/chatapp"> Online Browser Chat App
                </a></h200>
            <div class=textwithblur>


                <img class=pic src="chatapp img.png" alt="Chat App" style="animation-direction: alternate;"
                    data-toggle="modal" data-target="#play-chatapp">
                <h300>Chat App</h300>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <h200><a href=""> #####UNKNOWN#######
                    <div class=textwithblur>

                </a></h200>
            <img class=pic
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABzCAMAAACcnc3UAAAAA1BMVEX///+nxBvIAAAAJElEQVRoge3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAIBHAzQcAAFMwbwrAAAAAElFTkSuQmCC"
                data-toggle="modal" data-target="#unknown">
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-3">
            <h200><a href=""> #####UNKNOWN#######
                    <div class=textwithblur>

                </a></h200>
            <img class=pic
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABzCAMAAACcnc3UAAAAA1BMVEX///+nxBvIAAAAJElEQVRoge3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAIBHAzQcAAFMwbwrAAAAAElFTkSuQmCC"
                data-toggle="modal" data-target="#unknown">
        </div>
    </div>
    <div class="col-md-3">
        <h200><a href=""> #####UNKNOWN#######
                <div class=textwithblur>

            </a></h200>
        <img class=pic
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABzCAMAAACcnc3UAAAAA1BMVEX///+nxBvIAAAAJElEQVRoge3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAIBHAzQcAAFMwbwrAAAAAElFTkSuQmCC"
            data-toggle="modal" data-target="#unknown">
    </div>
    </div>
    <div class="col-md-3">
        <h200><a href=""> #####UNKNOWN#######
                <div class=textwithblur>

            </a></h200>
        <img class=pic
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABzCAMAAACcnc3UAAAAA1BMVEX///+nxBvIAAAAJElEQVRoge3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAIBHAzQcAAFMwbwrAAAAAElFTkSuQmCC"
            data-toggle="modal" data-target="#unknown">
    </div>
    </div>
    <div class="col-md-3">
        <h200><a href=""> #####UNKNOWN#######
                <div class=textwithblur>

            </a></h200>
        <img class=pic
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABzCAMAAACcnc3UAAAAA1BMVEX///+nxBvIAAAAJElEQVRoge3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAIBHAzQcAAFMwbwrAAAAAElFTkSuQmCC"
            data-toggle="modal" data-target="#unknown">
    </div>
    </div>

    <div class="modal fade" id="play-highway">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <video width=100%; height="150%" controls>
                        <source src="highway.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="play-twitter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <video width=100%; height="150%" controls>
                        <source src="Twitter.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="play-chatapp">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <video width=100%; height="150%" controls>
                        <source src="chatapp.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="unknown">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <h400>To Be Added Soon</h400>
            </div>

        </div>
    </div>
    </div>


    </div>
    <div class="row top-buffer abt-me" class="color">
        <div class="col-md-12 abt-me"id="About-Me">
            <h4 class=park>About Me</h4>
        </div>
    </div>

    <div class center="col-md-12, abt-me" class="color" >
        <p1> With four parameters I can fit an elephant, and with five I can make him wiggle his trunk.</p1>

    </div>
    <div class center="row, abt-me" class=color>
        <img class= "abt-me" style="width:500px;height:500px;"
            src="https://cdn4.iconfinder.com/data/icons/jetflat-2-faces-2/60/005b_042_user_profile_avatar_man_boy_round-512.png">
    </div>
    <div class="row" class=color >
        <div class="col-md-12 abt-me">
            <h5 class=park>Kevin Park</h5>
        </div>

    </div>
    <div class="row" class=color>
        <div class="col-md-12 abt-me">
            <h6 class=highschool>A highschool student learning coding</h6>
        </div>
    </div>
    <div class="row" class=color;>
        <div class="col-md-12 abt-me">
            <span class="social-link">
                <a href="https://twitter.com">
                    <img
                        src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/twitter_2-512.png">
                </a>
            </span>
            <span class="social-link">
                <a href="https://github.com/shp2018">
                    <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
                </a>
            </span>
            <span class="social-link">
                <a href="https://instagram.com">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png">
                </a>
            </span>
        </div>
    </div>
    <div class="row " class=colour>
        <div class="col-md-12 abt-me">
            <p2 class="description" ;>I am a grade 11 highschool student learning how to code.
                I live in vancouver and go to Point Grey Secondary.</p2>
        </div>
    </div>
    <div class="row top-buffer">
        <div class=col-md-12 id="Contacts">
            <h7 class=park;>Contact Me</h7>
        </div>

        <div class="row center">

            <h10>please do not spam call me</h10>
        </div>
    </div>
    <div class="row top-buffer">
        <div class=col-md-12>
            <h8 class="kevin">shp291800@gmail.com</h8>
        </div>

    </div>
    <div class="row top-buffer description">
        <div class=col-md-12>
            <h9 class=park;>000-000-0000</h9>
        </div>

    </div>
    </div>
    <div class="ending">

        <div class="col-md-12">
            <p100>Copyright © Kevin Park 2019</p100>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <span class="social-link">
                    <a class=scroll href="https://twitter.com">
                        <img
                            src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/twitter_2-512.png">
                    </a>
                </span>
                <span class="social-link">
                    <a class=scroll href="https://github.com/shp2018">
                        <img src="http://pngimg.com/uploads/github/github_PNG67.png">
                    </a>
                </span>
                <span class="social-link">
                    <a class=scroll href="https://instagram.com">
                        <img
                            src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png">
                    </a>
                </span>
            </div>
        </div>

    </div>
    </div>

    <script src="portfolio.js"></script>
</body>

</html>